body{
    text-align: center;
    justify-content: center;
    background-image: url(railway\ stations.jpg);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
  
#increment-btn{
    height: 50px;
    width: 200px;
    background-color: #ff0000;
    border-radius: 5px;
    font-weight: bold;
}
  
#increment-btn:hover{
    opacity: 0.9;
    cursor: pointer;
}
  
#increment-btn:active{
    opacity: 0.8;
}


#save-btn{
    height: 50px;
    width: 200px;
    background-color: #f8df00;
    border-radius: 5px;
    font-weight: bold;
}
  
#save-btn:hover{
    opacity: 0.9;
    cursor: pointer;
}
  
#save-btn:active{
    opacity: 0.8;
}


p{
    font-weight: 900;
}